@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@200&family=Roboto+Condensed&display=swap');

.bg-of-nav{
    background-color:#A3E4DB;
}

.nav-style{
   color: #2193B0;
   font-family: 'Roboto Condensed', sans-serif;
}
.nav-style:hover{
    background-color: whitesmoke;
    color: black;
}

.toggle-color{
    background-color: #2193b05b;
}
