@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@200&family=Roboto+Condensed&display=swap');



.nav-style{
   color: #00A1C4;
   font-weight: bold;
   font-family: 'Roboto Condensed', sans-serif;
}
.nav-style:hover{
    background-color: whitesmoke;
    color: black;
}

.toggle-color{
    background-color: #2193b05b;
}

.navbar{
    background: transparent;
}

.navbar.active {
    background:whitesmoke;
}
