@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.banner:hover{
  opacity: 0.8;
}

.margin{
  margin-top: 100px;
}

.margin-text{
  margin-top: 170px;
  padding-left: -200px;
}

h1 {
  
  font-family: "Luckiest Guy", cursive;
}
h1 {
  margin-top: 5em;
  text-align: center;
}


